### IoT 사물인터넷 with 라즈베리파이

1. 키보드로 세 정수를 입력받아, 큰 수부터 출력하시오. 입력받은 수에 중복은 없다고 가정한다.

In [ ]:
result = []
midNum = 0
for e in range(0, 3):
  num = int(input('정수 입력 : '))
  result.append(num)

maxNum = max(result)
minNum = min(result)

for num in result:
  if num != maxNum and num != minNum:
    midNum = num

print(maxNum, midNum, minNum)

8 6 0

2. 매개변수로 전달되는 수의 구구단을 출력하는 함수를 선언하시오.

In [38]:
def multiplicationTable(num):
  for e in range(1, 10):
     print(f'{num} * {e} = {num * e}')

3. 1부터 20까지의 숫자 중에서 홀수만 리스트에 저장하고 출력하는 코드를 작성하시오.

In [7]:
list1 = []
for e in range(1, 21):
  if e % 2 == 1:
    list1.append(e)
print(list1)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

4. 다음 리스트에 저장된 모든 연락처의 중간 네자리 숫자의 합을 구하여 출력하시오.

In [ ]:
phoneNumbers = [
  '010-1000-2222',
  '010-2000-3333',
  '010-5000-4444'
]

total = 0
for mid in phoneNumbers:
  total = total + int(mid[4:8])
print(total)

8000

5. 아래 딕셔너리 데이터를 참고하여, 모든 학생의 평균 점수를 구하는 코드를 작성하시오.

In [34]:
students = {
  "김철수": 85, 
  "이영희": 92, 
  "박민수": 78
}

totalScore = 0
avg = 0

for score in students:
  totalScore = totalScore + students[score]
avg = totalScore / len(students)

다음 상품 정보 데이터를 참고하여 문제를 푸시오.

In [ ]:
products = [
    {"이름": "노트북", "가격": 50000},
    {"이름": "마우스", "가격": 8000},
    {"이름": "키보드", "가격": 15000},
    {"이름": "모니터", "가격": 30000},
    {"이름": "USB", "가격": 5000}
]

[{'이름': '노트북', '가격': 50000}, {'이름': '마우스', '가격': 8000}, {'이름': '키보드', '가격': 15000}, {'이름': '모니터', '가격': 30000}, {'이름': 'USB', '가격': 5000}]

6. 위 products 데이터에 키보드로 입력한 이름과 가격을 갖는 상품을 추가하는 코드를 작성하시오.

In [ ]:
products.append({"이름" : input('이름을 입력하세요'), "가격" : input('가격을 입력하세요')})

[{'이름': '노트북', '가격': 50000}, {'이름': '마우스', '가격': 8000}, {'이름': '키보드', '가격': 15000}, {'이름': '모니터', '가격': 30000}, {'이름': 'USB', '가격': 5000}, {'이름': '헤드셋', '가격': '2000'}]

7. 가격이 10000원 이상인 상품들만 필터링하여 새로운 리스트로 만드는 코드를 작성하시오.

In [ ]:
newList = []
for item in products:
  if int(item['가격']) >= 10000: 
    newList.append(item['가격'])

[50000, 15000, 30000]

8. 키보드로 입력한 이름을 갖는 상품을 products 데이터에서 삭제하는 코드를 작성하시오.

In [69]:
# 키보드 입력
productName = input('삭제할 상품의 이름')

# products 리스트에 저장된 데이터의 수만큼 반복
for i, e in enumerate(products):
  if e['이름'] == productName:
    del products[i]